.sign-in-btn{
    color: black;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: none;
    max-width: 400px;
    margin: 0 auto;
    padding: 15px 32px;
    font-size: 1.2rem;
}
.sign-in-btn img{
    width: 50px;
    height: 45px;
    margin-right: 14px;

}
p{
    color: white;
    text-align: center;
}